<launch>

    <include file="$(find navsat_simple)/launch/localization.launch">
        <arg name="low_pass_filter" value="0.998"/>
        <remap from="odom" to="/odometry/propeller" />
    </include>

    <node name="light_nav_indicator" pkg="tuna_nav" type="light_indicator.py" output="screen"/>
    
</launch>
