<launch>

	<include file="$(find navsat_simple)/launch/gps_common.launch"/>

	<node name="navsat_simple_node" pkg="navsat_simple" type="localization.py" output="screen">
		<param name="gps_low_pass_filter" value="0.99" />
		<param name="odom_high_pass_filter" value="0.996" />
		<remap from="odom/wheels" to="/odometry/propeller" />
	</node>

	<node name="light_nav_indicator" pkg="tuna_nav" type="light_indicator.py" output="screen"/>
	
</launch>
