<launch>

	<include file="$(find tuna_description)/launch/model.launch"/>
	<include file="$(find tuna_description)/launch/odometry.launch"/>

	<include file="$(find safety_light)/launch/light.launch"/>
	<include file="$(find tuna_motor)/launch/electronics.launch"/>
	<include file="$(find tuna_bringup)/launch/imu.launch"/>
	<include file="$(find tuna_bringup)/launch/gnss.launch"/>

    <include file="$(find tuna_nav)/launch/line_planner.launch"/>
    <include file="$(find tuna_nav)/launch/localization.launch"/>

	<include file="$(find outdooros)/launch/server.launch"/>

</launch>
