<launch>

    <!-- Run web core.  -->
    <include file="$(find ezmap_web)/launch/autostart.launch"/>
    <include file="$(find ezmap_system_power)/launch/power.launch" />
    
    <!-- Run widget and screen workers. -->
    <include file="$(find ezpkg_rosbag_widget)/launch/autostart.launch"/>
    <include file="$(find tuna_bringup)/launch/map_screen.launch"/>

    <include file="$(find tuna_bringup)/launch/hybrid_slam.launch"/>

    <!-- Run autoloader and http server. -->
    <include file="$(find ezmap_autoloader_web)/launch/server.launch"/>

</launch>
