<robot name="ros_car">

	<link name="base_link">
		<visual>
			<geometry>
				<mesh filename="package://tuna_description/meshes/boat.dae"/>
			</geometry>
		</visual>
	</link>

	<link name="gps"/>
	<link name="imu_link"/>

	<joint name="base_to_imu" type="fixed">
		<parent link="base_link"/>
		<child link="imu_link"/>
		<origin xyz="0.193 0 0.004" rpy="0 0 0" />
	</joint>

	<joint name="base_to_gps" type="fixed"> 
		<parent link="base_link"/>
		<child link="gps"/>
		<origin xyz="0.016 0 0.12" rpy="0 0 0" />
	</joint>

</robot>
